.profile-row {
    display: flex;
    align-items: center;

    img { 

        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 16px;
        object-fit: cover;
        object-position: right;
    }

    .description {
        color: rgba(0,0,0,0.5);
        font-size: 12px;
    }
}