.card {
    min-height: 400px;
    height: 450px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        color: rgba(0,0,0,0.8);
        font-size: 18px;
        white-space: pre;
        justify-content: center;
        text-align: center;
        margin-bottom: 16px;
    }

    .statsdescription{
        font-size: 12px;
    }

    button {
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 32px;
        background-color: white;
        border: unset;
        border: 1px solid rgba(0,0,0,0.3);
        cursor: pointer;

        &:first-child{
            left: 0;
        }

        &:last-child{
            right: 0;
            border-left: 1px solid rgba(0,0,0,0.3);
        }

        &:hover{
            background-color: rgba(0,0,0,0.05);
        }

        mat-icon {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }
}